<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"
        >
        <title>CARE USA Human Interest Stories</title>
        <%= csrf_meta_tags %>
        <!--slick sliderstyles-->
        <%= stylesheet_link_tag 'slick-carousel/slick/slick' %>
        <!--main css of the Simple Template-->
        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    </head>
    <body>
        <!--header-->
        <header id="home" class="main-head-holder">
            <div class="main-head  container">
                <div class="logo-wrap">
                    <a href="" class="logo">
                        <span class="hidden" >Care</span>
                        <img alt="Care"
                             src="assets/care-logo.png"
                             title="Care-logo" >
                    </a>
                </div>
                <section class="mob-menu">
                    <div class="open">
                        <span></span>
                    </div>

                    <div class="close">
                        <span></span>
                    </div>
                </section>
                <nav class="main-menu">
                    <ul class="main-menu-list">
                        <li class="menu-list-item">
                            <a href="" class="menu-link">MAP OF IMPACT</a>
                        </li>
                        <li class="menu-list-item">
                            <a href="" class="menu-link active">STORIES</a>
                        </li>
                        <li class="menu-list-item">
                            <a href="" class="menu-link">ABOUT</a>
                        </li>
                        <li class="menu-list-item">
                            <a href="" class="menu-link button" title="Donate">DONATE</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
        <!--end header-->
        <main id="pageContent" class="page-wrapper home">
        <!--banner section-->
            <section class="banner">
                <div class="slides-holder">
                    <div class="slide-item">
                        <figure class="slide">
                            <picture>
                                <source media="(max-width: 425px)" srcset="assets/banner-m.png">
                                <img
                                     class="slide-banner"
                                     src="assets/banner-image.png"
                                     alt="Reaping the Benefits of training">
                            </picture>
                            <figcaption class="slide-content">
                                <div class="tag"><span>LAST STORIES</span><i class="icon-flag"></i></div>
                                <span>Emergency & disaster</span>
                                <h1>Reaping the Benefits of training.</h1>
                               <div>
                                    <a href="">
                                        <img class="rounded-img"
                                            src="assets/author.png"
                                            alt="By Anguparu Monica" >
                                    </a>
                                    <p class="author-data">
                                        <span class="author">By Anguparu Monica</span>
                                        <span class="country">CARE Uganda</span>
                                    </p>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="slide-item">
                        <figure class="slide">
                            <picture>
                                <source media="(max-width: 425px)" srcset="assets/banner-m.png">
                                <img
                                     class="slide-banner"
                                     src="assets/banner-image.png"
                                     alt="Reaping the Benefits of training">
                            </picture>
                            <figcaption class="slide-content">
                                <div class="tag"><span>LAST STORIES</span><i class="icon-flag"></i></div>
                                <span>Emergency & disaster</span>
                                <h1>Reaping the Benefits of training.</h1>
                                <div>
                                    <a href="">
                                        <img class="rounded-img"
                                             src="assets/author.png"
                                             alt="By Anguparu Monica" >
                                    </a>
                                    <p class="author-data">
                                        <span class="author">By Anguparu Monica</span>
                                        <span class="country">CARE Uganda</span>
                                    </p>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="slide-item">
                        <figure class="slide">
                            <picture>
                                <source media="(max-width: 425px)" srcset="assets/banner-m.png">
                                <img
                                     class="slide-banner"
                                     src="assets/banner-image.png"
                                     alt="Reaping the Benefits of training">
                            </picture>
                            <figcaption class="slide-content">
                                <div class="tag"><span>LAST STORIES</span><i class="icon-flag"></i></div>
                                <span>Emergency & disaster</span>
                                <h1>Reaping the Benefits of training.</h1>
                                <div>
                                    <a href="">
                                        <img class="rounded-img"
                                             src="assets/author.png"
                                             alt="By Anguparu Monica" >
                                    </a>
                                    <p class="author-data">
                                        <span class="author">By Anguparu Monica</span>
                                        <span class="country">CARE Uganda</span>
                                    </p>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </section>
            <!--end banner-->
            <!--Multi-search form-->
            <section class="multi-search-container">
                <input
                        id="filterTrigger"
                        class="hidden"
                        type="checkbox"
                        name="filterTrigger">
                <label class="label-trigger" for="filterTrigger">FILTER BY<span class="icon-chevron-down"></span></label>
                <form
                        id="multiSearch"
                        class="multisearch-form box"
                        action="#"
                        method="post">
                    <div class="filters-holder">
                        <div class="field">
                            <input
                                    id="formSearch"
                                    type="search"
                                    name="searchInput"
                                    value=""
                                    placeholder="Search by…">
                            <button
                                    id="formSearchSubmit"
                                    class="search-btn"
                                    type="button"
                                    name="formSearchBtn"
                                    title="Search">
                                <i class="icon-search"></i>
                            </button>
                        </div>
                        <div class="field select">
                          <%= select_tag :select_category,
                            options_from_collection_for_select(@categories, :id, :name),
                            id: "selectCategory", title: "Select Category" %>
                        </div>
                        <div class="field select">
                          <%= select_tag :select_category,
                            options_from_collection_for_select(@countries, :id, :name),
                            id: "selectCategory", title: "Select Category" %>
                        </div>
                        <div class="field date">
                            <input
                                    id="dateFilter"
                                    name="dateInput"
                                    value=""
                                    placeholder="20 / 04 / 2012 …"
                                    title="Select Your Date">
                            <i class="icon-calendar"></i>
                        </div>
                        <div class="field select">
                            <select id="mostRecentFilter" title="Most recent">
                                <option value="" disabled selected>Most Recent</option>
                            </select>
                        </div>
                    </div>
                </form>
            </section>
            <!--end multi-search form-->
            <!--total stories/masonry grid-->
            <section class="article-container">
                <h3>Total Stories</h3>
                <span class="group">(<%= pluralize(@stories.count, 'story') %>)</span>
                <div class="grid">
                  <div class="article-list">
                    <% @stories.each do |story| %>
                      <%= render 'article', story: story %>
                    <% end %>
                        <!--Quick Donate form-->
                        <form id="quickDonate" class="donate-form box" action="#" method="post">
                            <h4 class="form-title">Quick Donate</h4>
                            <fieldset class="holder">
                                <input id="donateField" name="donateInput" value="" placeholder="$">
                                <button id="donateSubmit" class="button" type="button" name="donateBtn">DONATE</button>
                            </fieldset>
                        </form>
                    </div>
                    <a class="more" href="#">SHOW MORE STORIES</a>
                </div>
            </section>
            <!--end total stories/masonry grid-->
            <!--recent stories/slick slides-->
            <section class="recent-stories-container">
                <h3>Most Recent Stories</h3>
                <span class="group">(12 Stories)</span>
                <div class="recent-slides-holder">
                    <div class="slide-item">
                        <a href="">
                            <img
                                    class="recent-slide"
                                    src="assets/recent-stories/img1.png"
                                    alt="Recent story">
                        </a>

                    </div>
                    <div class="slide-item">
                        <a href="">
                            <img
                                    class="recent-slide"
                                    src="assets/recent-stories/img2.png"
                                    alt="Recent story">
                        </a>

                    </div>
                    <div class="slide-item">
                        <a href="">
                            <img
                                    class="recent-slide"
                                    src="assets/recent-stories/img3.png"
                                    alt="Recent story">
                        </a>

                    </div>
                    <div class="slide-item">
                        <a href="">
                            <img
                                    class="recent-slide"
                                    src="assets/recent-stories/img4.png"
                                    alt="Recent story">
                        </a>

                    </div>
                    <div class="slide-item">
                        <a href="">
                            <img
                                    class="recent-slide"
                                    src="assets/recent-stories/img5.png"
                                    alt="Recent story">
                        </a>

                    </div>
                    <div class="slide-item">
                        <a href="">
                            <img
                                    class="recent-slide"
                                    src="assets/recent-stories/img6.png"
                                    alt="Recent story">
                        </a>

                    </div>
                    <div class="slide-item">
                        <a href="">
                            <img
                                    class="recent-slide"
                                    src="assets/recent-stories/img1.png"
                                    alt="Recent story">
                        </a>

                    </div>
                    <div class="slide-item">
                        <a href="">
                            <img
                                    class="recent-slide"
                                    src="assets/recent-stories/img2.png"
                                    alt="Recent story">
                        </a>

                    </div>
                    <div class="slide-item">
                        <a href="">
                            <img
                                    class="recent-slide"
                                    src="assets/recent-stories/img3.png"
                                    alt="Recent story">
                        </a>

                    </div>
                    <div class="slide-item">
                        <a href="">
                            <img
                                    class="recent-slide"
                                    src="assets/recent-stories/img4.png"
                                    alt="Recent story">
                        </a>

                    </div>
                    <div class="slide-item">
                        <a href="">
                            <img
                                    class="recent-slide"
                                    src="assets/recent-stories/img5.png"
                                    alt="Recent story">
                        </a>

                    </div>
                    <div class="slide-item">
                        <a href="">
                            <img
                                    class="recent-slide"
                                    src="assets/recent-stories/img6.png"
                                    alt="Recent story">
                        </a>

                    </div>
                </div>
            </section>
            <!--end recent stories/slick slides-->
            <!--Quick Donate form-->
            <form id="mainNewsletter" class="newsletter-form" action="#" method="post">
                <h4>The lastest from Care</h4>
                <input id="newsletterEmail" name="newsletterInput" value="" placeholder="Enter email address">
                <button id="newsletterSubmit" class="button" type="button" name="newsletterBtn" title="JOIN">JOIN</button>
            </form>
            <!--end Quick Donate form-->
        </main>
        <footer class="footer-container">
            <div class="footer-holder">
                <section class="social-links">
                    <a href="" class="social-links-item facebook-link">
                        <i class="icon-facebook"></i>
                    </a>
                    <a href="" class="social-links-item twitter-link">
                        <i class="icon-twitter"></i>
                    </a>
                    <a href="" class="social-links-item instagram-link">
                        <i class="icon-instagram"></i>
                    </a>
                </section>
                <section class="footer-menu">
                    <a href="" class="footer-link">
                        Map
                    </a>
                    <span>&#10072;</span>
                    <a href="" class="footer-link">
                        Stories
                    </a>
                    <span>&#10072;</span>
                    <a href="" class="footer-link">
                        About
                    </a>
                </section>
            </div>
        </footer>
        <!--end contact us-->
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <%= javascript_pack_tag 'application' %>
    </body>
</html>
